{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard">

    <h1>Welcome {{ username }}</h1>

    <p>You are successfully logged in.</p>

    <br>

    <a href="{{ url_for('employee.employee_list') }}">
        <button class="btn-primary">
            Employee Management
        </button>
    </a>

    <br><br>

    <a href="{{ url_for('auth.logout') }}">
        <button class="btn-danger">
            Logout
        </button>
    </a>

</div>

{% endblock %}